
<section>
    <app-loading-spinner></app-loading-spinner>
    <h2>Edit Page</h2>
    
        <form method="post" #editForm="ngForm" (ngSubmit)="onEdit(editForm)" *ngIf="question">
            <div class="question-div">
                <label for="question">Question:</label>
                <textarea 
                name="question" 
                rows="7" 
                cols="50" 
                ngModel
                [(ngModel)]="question.question"
                >
                </textarea>
            </div>
            <div>
                
                    <div class="answer-div" *ngFor="let answer of question.answers;let i=index; trackBy:trackByFn">
                        <label [attr.for]="inputAttributes[i]">Answer {{i+1}}</label>
                        <input 
                        type="text"
                        ngModel
                        [(ngModel)]="question.answers[i]"
                        [attr.name]="inputAttributes[i]" 
                        [ngModelOptions]="{standalone: true}"
                        >
                    </div>
                
            </div>
            <div class="correct-answer-div">
                <label for="correctAnswer">Correct Answer:</label>
                <input 
                type="text" 
                name="correctAnswer"
                [(ngModel)]="question.correctAnswer"
                
                >
            </div>
            <div class="btn-container">
                <button type="submit">Edit</button>
                <button (click)="back()" type="button">Back</button>
            </div>
        </form>
    
</section>
