
<article class="question-card">
    <div class="timer-points-container">
        <p class="timer">Timer:
        {{ addZeroMinutesIfLessThanTen() }}{{ minutes }}:{{ addZeroSecondsIfLessThanTen() }}{{ seconds }}</p>
        <p>Points: {{ points }}</p>
        <progress [value]="index+1" [max]="totalQuestions"></progress>
        <p>Question №:{{ index+1 }} / {{ totalQuestions }}</p>
    </div>
    <div class="question-container">
        <h3 class="question-title">{{ question.question }}</h3>
        <div class="answers-container">
            <button 
            *ngFor="let answer of question.answers;let i=index"
            #btn
            (click)="checkAnswer(answer)" 
            class="answer-btn"
            [ngClass]="{
                'correct': isSelected && answer === question.correctAnswer,
                'wrong': isSelected && answer !== question.correctAnswer
              }"
            >
            {{ i+1 }}.{{ answer }}
            </button>
        </div>
        <div *ngIf="index < totalQuestions - 1">
            <button type="button" (click)="nextQuestion()" class="next-btn">Next Question</button>
        </div>
        <div *ngIf="index === totalQuestions - 1">
            <button type="button" (click)="onSaveResult()" class="next-btn">Finish Game</button>
        </div>
    </div>
</article>
