
<section class="create-question-section">
    <h2>Create Question</h2>
    <ng-container *ngIf="listOfErrors.length > 0">
        <app-error [err]="listOfErrors"></app-error>
    </ng-container>
    <form 
    method="post"
    #createQuestionForm="ngForm"
    (ngSubmit)="onCreateQuestion(createQuestionForm)"
    >
        
        <div>
            <label for="question">Question:</label>
            <textarea 
            name="question"
            ngModel
            ></textarea>
        </div>

        <div>
            <select 
            [(ngModel)]="selectedOption" 
            name="numOfAnswers" 
                >
                <option value="" selected>Select the number of possible answers</option>
                <option *ngFor="let n of numOfPossibleAnswers" 
                [value]="n"   
                >
                {{ n }}
            </option>
            </select>
        </div>
        
        <app-answer-input 
        [selectedOption]="selectedOption"
        (answersEmitter)="getAnswers($event)"
        >
        </app-answer-input>

        <div>
            <label for="correctAnswer">Correct Answer:</label>
            <input type="text" ngModel name="correctAnswer">
        </div>

        <div>
            <button type="submit">Create</button>
        </div>

    </form>
</section>
