<section class="question-game-section">

    <article class="question-game-article">
        <h3>When you are ready start the game</h3>
        <p>10 random questions will be generated</p>
        <p>You should answer them in the given time</p>
        <p>After the completion of the test your result will be stored</p>
        <div class="btn-container">
            <button (click)="getQuestions()" class="start-btn">Start</button>
        </div>
    </article>

    <ng-container *ngIf="questions.length > 0">
        <app-question-card 
        [question]="questions[index]"
        [index]="index"
        [totalQuestions]="totalQuestions"
        [points]="points"
        (pointsEmitter)="updatePoints($event)"
        (indexEmitter)="updateIndex($event)"
        (saveResultEmitter)="saveScore($event)"
        >
        </app-question-card>
    </ng-container>

</section>
