<section class="question-game-section">

    <article>
        <h3>When you are ready start the game</h3>
        <h4>10 random questions will be generated</h4>
        <h5>You should answer them in the given time</h5>
        <p>After the completion of the test your result will be stored</p>
        <button (click)="getQuestions()">Start</button>
    </article>

    <ng-container *ngIf="questions.length > 0">
        <app-question-card 
        [question]="questions[index]"
        [index]="index"
        [totalQuestions]="totalQuestions"
        [points]="points"
        (pointsEmitter)="updatePoints($event)"
        (indexEmitter)="updateIndex($event)"
        >
        </app-question-card>
    </ng-container>

</section>
