
<section class="question-game-section">
    <article class="question-game-article" *ngIf="!isGameOver">
        <h3>When you are ready start the game</h3>
        <p>10 random questions will be generated</p>
        <p>You should answer them in the given time</p>
        <p>After the completion of the test your result will be stored</p>
        <div class="btn-container">
            <button (click)="getQuestions()" class="start-btn">Start</button>
        </div>
    </article>

        <app-loading-spinner></app-loading-spinner>

    <ng-container *ngIf="questions.length > 0 && !isGameOver">
        <app-question-card 
        [question]="questions[index]"
        [index]="index"
        [totalQuestions]="totalQuestions"
        [points]="points"
        [minutes]="minutes"
        [seconds]="seconds"
        (pointsEmitter)="updatePoints($event)"
        (indexEmitter)="updateIndex($event)"
        (saveResultEmitter)="saveScore($event)"
        >
        </app-question-card>
    </ng-container>

    <ng-container *ngIf="isGameOver">
        <app-game-over (resetGameEmitter)="resetGame($event)"></app-game-over>
    </ng-container>

</section>
