
<section class="register-section">
    <app-loading-spinner></app-loading-spinner>
    <h2>Register Page</h2>
    <ng-container *ngIf="listOfErrors.length > 0">
        <app-error [err]="listOfErrors"></app-error>
    </ng-container>
    <form 
    method="post"
    #registerForm="ngForm"
    (ngSubmit)="onRegister(registerForm)"
    >
        <div>
            <label for="email">Email:</label>
            <input 
            type="email" 
            name="email" 
            ngModel 
            required
            email
            #email="ngModel"
            >
            <div *ngIf="email.touched && !email.valid">
                <p *ngIf="email.errors?.['required']" class="validation-error">Email is required</p>
                <p *ngIf="email.errors?.['email']" class="validation-error">Email is not valid</p>
            </div>
        </div>
        <div>
            <label for="password">Password:</label>
            <input 
            type="password" 
            name="password"
            ngModel 
            required
            #password="ngModel"
            >
            <div *ngIf="password.touched && !password.valid">
                <p *ngIf="password.errors?.['required']" class="validation-error">Password is required</p>
            </div>
        </div>
        <div>
            <label for="firstName">first name:</label>
            <input 
            type="text" 
            name="firstName"
            ngModel 
            required
            #firstName="ngModel"
            >
            <div *ngIf="firstName.touched && !firstName.valid">
                <p *ngIf="firstName.errors?.['required']" class="validation-error">First Name is required</p>
            </div>
        </div>
        <div>
            <label for="lastName">last name:</label>
            <input 
            type="text" 
            name="lastName"
            ngModel 
            required
            #lastName="ngModel"
            >
            <div *ngIf="lastName.touched && !lastName.valid">
                <p *ngIf="lastName.errors?.['required']" class="validation-error">Last Name is required</p>
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" [disabled]="!registerForm.valid">Register</button>
        </div>
    </form>
</section>
