
input {
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: lighter;
    background-color: #DCDCDC;
    border: none;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
}
label {
    text-transform: uppercase;
}
input:focus {
    outline: none;
}