article {
    background-color: #A9A9A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0.5rem;
    margin-top: 1rem;
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 3.2rem;
    h2 {
        font-size: 2.3rem;
        padding-bottom: 1rem;
        font-weight: 400;
        text-shadow: 2px 2px gray;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p {
        font-size: 1.5rem;
        padding-bottom: 1.2rem;
    }
    div {
        border: 1px solid black;
        padding: 1rem 0.6rem;
        border-radius: 0.3rem;
        button:first-child {
            margin-right: 0.6rem;
        }
        button {
            padding: 1rem 0.6rem;
            background-color: gray;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 0.6rem;
            font-size: 1.2rem;
            font-weight: 350;
            margin-bottom: 0.2rem;
            margin-top: 0.2rem;
            transition: 0.4s linear all;
        }
        button:hover {
            background-color: black;
        }
    }
}