<section class="header-section">
    <article class="logo">
    <p>Dare the challenge</p>
    </article>
    <article class="nav-menu">
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                    <span></span>
                </li>
                <li>
                    <a [routerLink]="['/score/all-users-scores']">Ranking List</a>
                    <span></span>
                </li>
               <ng-container *ngIf="!isAuthenticated">
                <li>
                    <a [routerLink]="['/auth/login']">Login</a>
                    <span></span>
                </li>
                <li>
                    <a [routerLink]="['/auth/register']">Register</a>
                    <span></span>
                </li>
               </ng-container>
               <ng-container *ngIf="isAuthenticated">
                <li>
                    <a [routerLink]="['/questions']">Play Now</a>
                    <span></span>
                </li>
                <li>
                    <a [routerLink]="['/questions/create']">Create Question</a>
                    <span></span>
                </li>
                <li>
                    <a [routerLink]="['/score/user-scores']">User Scores</a>
                    <span></span>
                </li>
                <li>
                    <button (click)="onLogout()">Logout</button>
                    <span></span>
                </li>
                </ng-container>
            </ul>
        </nav>
    </article>
</section>
